<form class="container  d-block bg-secondary text-white">
  <h3> Add a link!</h3>
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input name="title" id="title" class="form-control" #newtitle>
  </div>
  <div class="mb-3">
    <label for="link" class="form-label">Link:</label>
    <input name="link" id="link" class="form-control" #newlink>
  </div>
  <button type="submit" class="btn btn-primary" (click)="addArticle(newtitle, newlink)">Submit</button>
</form>

<div class="container">
  <app-article *ngFor="let tempArticle of sortedArticles()" [article]="tempArticle" style="padding: 5px 0">
  </app-article>
</div>